.sbsstyleDefault .steptitle {
font-size: 10pt; font-family: 'Tahoma'; color: #000000;
}
.sbsstyleDefault .steptext {
font-size: 10pt; font-family: 'Tahoma'; color: #000000;
}
.sbsstyleDefault {
background-color: #c0c0c0;
}
